// TwoImages.scss dosyası

.award-winning-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .award-winning-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 300px;
      height: auto;
      margin: 10px;
    }
  }
	.award-winning-header{
		text-align: center;
	}
}


