$bodycolor:#F7F7F7;
$cardcolor:#234A90;
$textcolor:#FFFFFF;

.footer-top-inclusive{
	.footer-top-container {
		display: flex;
		justify-content: space-between; 
		margin-top: 10px;
	}
	.footer-top-card{
		color: $textcolor;
		background-color: $cardcolor;
		position: relative;
		padding: 40px;
		height: 400px;
		border-radius: 8px;
		margin-top: 20px;
		.footer-top-icon{
			position: absolute;
			left: 70%;
		}
	}
	.footer-top-title{
		font-size: 30px;
	}
		
}
